body{
margin:0;
padding:0;
font-family:Arial, sans-serif;
background:#f2f2f7;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
color:#111;
}

h2{
margin-top:25px;
}

select{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:15px;
font-size:18px;
background:white;
}

#priceBox{
background:white;
padding:15px;
border-radius:15px;
margin-top:10px;
line-height:1.8;
}

.game{
background:white;
padding:14px;
border-radius:14px;
margin:8px 0;
}

button{
width:100%;
padding:16px;
background:#0071e3;
color:white;
font-size:18px;
border:none;
border-radius:16px;
margin-top:20px;
}
